{%extends 'base.html'%}

{%block title%}Kinds of Models{%endblock%}

{%block js%}
<script src="https://unpkg.com/gojs/release/go-debug.js"></script>
{%endblock%}

{%block content%}
<h1>Kinds of Models</h1>

<div id="myDiagramDiv" style="width:600px; height:600px; background-color: #e6e6e6;"></div>

{%endblock%}


{%block js_end%}
<script>
// diagram
const myDiagram = 
    new go.Diagram("myDiagramDiv",{"undoManager.isEnabled":true});

// node teamplte
myDiagram.nodeTemplate =
    new go.Node(
        "Horizontal",
        {background: "#ba61ff"}
    ).add(
        new go.Picture({margin:10, width:50, height:50, background: "red"}).bind("source")
    ).add(new go.TextBlock(
        "Default Text",
        {margin:12, stroke:"white", font:"bold 16px sans-serif"}).bind("text", "name")
    );
    
// model
myDiagram.model = new go.Model(
    [
        {name:"Don Meow", source:"https://as1.ftcdn.net/v2/jpg/01/63/11/70/1000_F_163117064_syJkTuCddASYjvl4WqyRmnuy8cDXpoQY.jpg"},
        {name:"Copricat", source:"https://upload.wikimedia.org/wikipedia/commons/7/77/Avatar_cat.png"},
        {name:"Demeter", source:"https://avatarfiles.alphacoders.com/239/239189.jpg"},
        {}
    ]
);
</script>
{%endblock%}