{%extends 'main/base.html'%}

{%load static%}

{%block title%}FTree{%endblock%}

{% block js %}
<script src="{% static 'js/go-debug.js' %}"></script>
{% endblock %}

{%block content%}
<h1>Family Tree</h1>
<!-- use go-debug.js when developing and go.js when deploying -->
<script src="go-debug.js"></script>
<!-- The DIV for a Diagram needs an explicit size or else we will not see anything.
     In this case we also add a background color so we can see that area. -->
<div id="myDiagramDiv" style="width:400px; height:150px; background-color: #DAE4E4;"></div>

<script>
    // You can specify options in the Diagram's second argument
    // These options not only include Diagram properties, but sub-properties, too.
    const myDiagram =
    new go.Diagram("myDiagramDiv",
        { // enable Ctrl-Z to undo and Ctrl-Y to redo
        "undoManager.isEnabled": true
        });

    myDiagram.model = new go.Model(
    [ // for each object in this Array, the Diagram creates a Node to represent it
        { key: "Alpha" },
        { key: "Beta" },
        { key: "Gamma" }
    ]);
    myDiagram.nodeTemplate =
  new go.Node("Vertical", // first argument of a Node (or any Panel) can be a Panel type
    /* set Node properties here */
    { // the Node.location point will be at the center of each node
      locationSpot: go.Spot.Center
    })
    /* then add Bindings here */
    // example Node binding sets Node.location to the value of Node.data.loc
    .bind("location", "loc")

    /* add GraphObjects contained within the Node */
    // this Shape will be vertically above the TextBlock
    .add(new go.Shape("RoundedRectangle", // string argument can name a predefined figure
        { /* set Shape properties here */ })
        // example Shape binding sets Shape.figure to the value of Node.data.fig
        .bind("figure", "fig"))
    // add the next GraphObject to the Node:
    .add(new go.TextBlock("default text",  // string argument can be initial text string
        { /* set TextBlock properties here */ })
        // example TextBlock binding sets TextBlock.text to the value of Node.data.text
        .bind("text"));
</script>
{%endblock%}